{{!-- This is just PURELY functional rn. Will make it look better once we decide on design --}}
<article> 
  <form action="/login" method="POST" class="search-name-form" id="login-form">
    <label for="usernameInput">
      Username
      <br>
      <input id="usernameInput" type="text" name="usernameInput"/>
    </label>
    <p id="usernameErr" class="error" hidden>Username must consist of 6 numbers and/or letters</p>
    <br>
    <label for="passwordInput">
      Password
      <br>
      <input id="passwordInput" type="password" name="passwordInput"/>
    </label>
    <p id="passwordErr" class="error" hidden>Password must contain at least one uppercase letter, one number, and one special character</p>
    <button type="submit">Login</button>
  
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../public/js/validate.js"></script>
  <script src='../public/js/loginCheck.js'></script>
  
  <p><a href="/register">Click here to signup!</a></p>
</article>